@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
}

.container {
    padding: 10px 0;
    margin: 20px 0;
}
.container1 {
    background-color: #c5a5fd;
}

.container2{
    background-color: #fdb4f9;;
}

.title {
    margin-bottom: 30px;
}

.container .btns {
    font-size: 1.5rem;
    margin: 10px 10px;
}

.input {
    transition: 5s;
    display: flex;
    align-items: center;
}

.main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#reset{
    display: none;
}

#stop{
    display: none;
}