@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
}

.container {
    padding: 10px 0;
    margin: 20px 0;
}
.container1 {
    background-color: #c5a5fd;
}

.container2{
    background-color: #fdb4f9;;
}

.title {
    margin-bottom: 30px;
}

.container .btns {
    font-size: 1.5rem;
    margin: 10px 10px;
}

.input {
    transition: 5s;
    display: flex;
    align-items: center;
}

.main2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#reset{
    display: none;
}

#stop{
    display: none;
}

#stop2{
    display: none;
}

.container3{
    background-color: #ffe8cb;
}

#Refresh{
    display: none;
}

.images{
    display: flex;
    justify-content: space-evenly;
}

.images .rps{
    border: 2px solid black;
    border-radius: 30%;
    width: 15rem;
    height: 15rem;
}
.images img:hover{
    cursor: pointer;
    box-shadow: rgb(255 59 0 / 63%) 0px 7px 29px 0px;
}

/* <!-- *************************** Challenge #4 ********************************* --> */
.container4{
    background-color: rgb(197 255 186);
}

.container4 select{
    width: 10rem;
    height: 3rem;
    text-align: center;
    font-size: 20px;
    background-color: black;
    color: white;
}
.four-btns{
    width: 10rem;
    height: 3rem;
    background-color: black;
    font-family: 'Poppins';
    border: none;
    border-radius: 5px;
    color: white;
    margin: 20px;
    font-size: 20px;
}