@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', 'sans-serif';
}

.container{
    height: 60vh;
    padding: 10px 0;
    border: 1px solid black;
}

.container .title{
    margin-bottom: 30px;
}
#ok{
    font-size: 0.8rem;
    display: none;
}
.container .btns{
    font-size: 1.5rem;
    margin: 10px 10px;
}

.input{
    transition: 5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title, #box{
    display: none;
}